
@{
    ViewData["Title"] = "SuccessfulRegistration";
}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/SuccessfulRegistration.css">
    <link rel="stylesheet" href="~/css/FrontMenu.css">
    <title></title>
</head>
<body>
    <div class="list-navigation">
        <nav>
            <ul>
                <li><a href="@Url.ActionLink("Index","Front")">OpenSource</a></li>
                <li><input type="text" name="" value=""></li>
                <li><a href="@Url.Action("Index","Authorization")">Вход</a></li>
                <li><a class="container-thref-a" href="@Url.ActionLink("Index","Registration")">Регистрация</a></li>
                <li><a href="#">О сайте</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="container-base">
        <div class="container-info">
            <div class="info">
                <p>Успешная регистрация</p>
            </div>
            <div class="info-Successful">
                <p>Поздаравляем! Вы успешно зарегистрированы на нашем сайте, перейдите по ссылке для входа в <a href="@Url.ActionLink("Index","Authorization")">учетную запись</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>


